.movieCard {
    display: flex;
    flex-direction: column;
    height: 356px;
    width: 200px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow 250ms linear;
    cursor: pointer;
    gap: 8px;
  }
  
  .movieCard:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.85),
      0 0 40px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.85),
      0 0 40px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.85), 0 0 40px rgba(0, 0, 0, 0.5) inset;
  }
  
  .imgWrapper {
    overflow: hidden;
    height: 300px;
  }
  
  .title {
    font-size: 14px;
    color: var(--default-accent-color);
    line-height: 1.6;
    text-align: center;
    height: 48px;
    overflow: hidden;
  }  