
:root {
  background-color: #153b58;
  --default-text-color: #fafafa;
  --text-color2: #9b9fa1;
  --default-accent-color: rgb(102, 203, 216);
  --default-accent-hover-color: rgb(39, 84, 134);
  max-width: 1144px;
  padding: 70px 16px 16px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1b4774;
}

::-webkit-scrollbar-thumb {
  background-color: var(--default-accent-hover-color);
  border: 1px solid #246575;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--default-accent-color);
}